.editor {
  clear: both;
  min-height: 100px;
  margin: 5px 0;
  padding: 5px;
  border: 1px solid #acacac;
  outline: none;
  font-family: 'Lucida Grande', verdana, arial, sans-serif;
  font-size: 12px;
}

.editor p {
  margin: 0;
}

.editor_toolbar .toolbar_button {
  float: left;
  margin: 2px 5px;
}

.editor_toolbar .selected {
  color: red !important;
}

#error {
  font: 18px helvetica, arial, sans-serif;
  color: red;
}

// Begin Jorge/Kevin changes

.container{

}

.container .header .header-content{
  height: 50px;
  background-color:#fff;
}

.container .header .toolbar-container{
  height:27px;
  background-color:whiteSmoke;
  border-top:1px solid #E5E5E5;
  border-bottom:1px solid #E5E5E5;
  padding-left:100px;
  padding-top: 4px;
}

.container .header .toolbar-container .button, 
.container .header .toolbar-container .color-picker-icon,
.container .header .toolbar-container select{

  margin-left: 10px;
}

.container .header .toolbar-container .color-picker-icon img,
.container .header .toolbar-container .button img{

  vertical-align: bottom;
}

.container .header .toolbar-container .button.selected{
  border:1px solid red;
}

.container .editor{
  background-color: #E5E5E5;
  text-align:center;
  margin:0px;
}

.container .editor .content-wrapper{
  width: 800px;
  margin: 0px auto;
  text-align: left;
}

.container .editor #content_editor{
  width: 800px;
  background-color:#fff;
  /*height: 1000px;*/
  text-align: left;
  padding: 2em 4em 2em 4em;


  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
   
}

.container .editor #content_editor font[size="1"] { font-size: 8pt; }
.container .editor #content_editor font[size="2"] { font-size: 10pt; }
.container .editor #content_editor font[size="3"] { font-size: 12pt; }
.container .editor #content_editor font[size="4"] { font-size: 14pt; }
.container .editor #content_editor font[size="5"] { font-size: 18pt; }
.container .editor #content_editor font[size="6"] { font-size: 24pt; }
.container .editor #content_editor font[size="7"] { font-size: 36pt; }
/*.container .editor #content_editor font[size="2"] { font-size: 10pt; }​*/

.bookmark-in-editor{
  border:1px solid red;
  margin-left:-165px;
  width:100px;
  background-color:red;
  color:white;
  padding: 3px 0px 3px 10px;
  font-size:11px;
}

#editor-nav-menu{
  height: 200px;
  width:200px;
  right: 10px;
  position:fixed;
  top: 100;
  padding-top: 5px;
  padding-left: 5px;

  background-color:#ccc;
  border: 1px solid #000;
}





